.header-contents{
	height: 25%;
	width: 100%;
	border-bottom: 1px solid black;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.menu-icon-material-icons{
	cursor: pointer;
}