.main-container{
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}

.intro{
	height:  100%;
	width: 50%;
	display: flex;
	flex-direction: column;
}

